#facebook_table tbody tr td { font-size:10px; padding:5px 4px; }
#facebook_table thead .page { width:200px; }
#facebook_table thead .code { width:350px; }
.red { color: red; }
#facebook_table tbody .bold { font-weight: bold; }


